@page
@model Elgiganten.Pages.Item.GetAllItemsModel
@{
}

<h1>Items</h1>

<div class="row">
    <div class="col-4"><h5>Search Name</h5></div>
    <div class="col-4"><h5>Search Type</h5></div>
    <div class="col-4"><h5>Filter Price</h5></div>
    <div class="col-4"></div>
</div>

<div class="row">
    <div class="col-4">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter Name" />
                <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-4">
            <form method="post" class="form-inline">
                <div class="input-group mb-3">
                    <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter Type" />
                    <input type="submit" asp-page-handler="TypeSearch" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>

    <div class="col-5">
        <form method="post" class="form-inline">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control mr-1" />

                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control mr-1" />
                <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-2"></div>
</div>

<table class="table table-bordered table-hover table-opacity" width="50%">
    <colgroup>
        <col style="width : 4%">
        <col style="width : 10%">
        <col style="width : 15%">
        <col style="width : 10%">
        <col style="width : 41%">
        <col style="width : 8%">
        <col style="width : 8%">
    </colgroup>
    <thead>
        <tr class="btn-secondary active">
            <th>
                Id
            </th>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Items != null)
        {
            foreach (var Item in Model.Items)
            {
                <tr class="btn-secondary">
                    <td>
                        @Item.Id
                    </td>
                    <td>
                        @Item.Type
                    </td>
                    <td>
                        @Item.Name
                    </td>
                    <td>
                        @Item.Brand
                    </td>
                    <td>
                        @Item.Description
                    </td>
                    <td>
                        @Item.Price
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditItem" asp-route-id="@Item.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteItem" asp-route-id="@Item.Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-page="CreateItem"> Create a new Item </a>
</p>