@page
@model Elgiganten.Pages.Item.GetAllItemsModel
@{
}

<h1>Items</h1>

<div class="row">
    <form method="post" class="form-inline">
    <div class="col-4">
        <h5>Search Name</h5>
            <div class="input-group mb-3">
                <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter Name" />
            </div>
    </div>
    <div class="col-4">
        <h5>Choose Type</h5>
            <div class="input-group mb-3">
                <select asp-for="SearchStringType" class="form-control mr-1">
                    <option value="ShowAll" selected >Show all</option>
                    <option value="PC">PC</option>
                    <option value="Konsol">Konsol</option>
                    <option value="Monitor">Monitor</option>
                    <option value="Hardware">Hardware</option>
                    <option value="Home">Home</option>
                    <option value="Tv og Lyd">Tv og Lyd</option>
                    <option value="Mobil og Tablet">Mobil og Tablet</option>
                </select>
            </div>

    </div>
    <div class="col-4">
        <h5>Filter Price</h5>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                </div>
                <input asp-for="MinPrice" class="form-control mr-1" />

                <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                </div>
                <input asp-for="MaxPrice" class="form-control mr-1" />
                <input type="submit" asp-page-handler="SearchAll" value="Search" class="btn btn-primary" />
            </div>
    </div>
    <div class="col-4"></div>
    </form>
</div>


<table class="table table-bordered table-hover table-opacity" width="50%">
    <colgroup>
        <col style="width : 4%">
        <col style="width : 10%">
        <col style="width : 15%">
        <col style="width : 10%">
        <col style="width : 38%">
        <col style="width : 8%">
        <col style="width : 12%">
    </colgroup>
    <thead>
        <tr class="btn-secondary active">
            <th>
                Id
            </th>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @if (@Model.Items != null)
        {
            foreach (var Item in Model.Items)
            {
                <tr class="btn-secondary">
                    <td>
                        @Item.Id
                    </td>
                    <td>
                        @Item.Type
                    </td>
                    <td>
                        @Item.Name
                    </td>
                    <td>
                        @Item.Brand
                    </td>
                    <td>
                        @Item.Description
                    </td>
                    <td>
                        @Item.Price
                    </td>
                    <td>
                        <a class="btn btn-light btn-sm " type="button" title="buy" asp-page="getallordres" asp-route-id="@Item.Id" onclick="buy(@Item.Id)"><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditItem" asp-route-id="@Item.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteItem" asp-route-id="@Item.Id"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-page="CreateItem"> Create a new Item </a>
</p>

<script>
    function buy(id) {
        var retVal = confirm("Er du sikker på produktvalg med id " + id);
        if (retVal == true) {
            
            window.open("/Ordre/GetAllOrdres#create");            
        }

        //window.location.replace('https://localhost:7273/Ordre/GetAllOrdres');
        //window.open("https://www.google.dk", "_blank")
       
    }
</script>