@page
@model Elgiganten.Pages.Ordre.GetAllOrdresModel
@{
}
<h1>Ordres</h1>
@*
<div class="row">
    <div class="col-4"><h5>Search Id</h5></div>
    <div class="col-4"><h5>Search OrdreDate</h5></div>
    <div class="col-4"><h5>Search Quantity</h5></div>
    <div class="col-4"></div>
</div>*@


        <div class="col-2"></div>
    </div>

    <table class="table table-bordered table-hover, table- " width="100%">
        <colgroup>
            <col style="width : 10%">
            <col style="width : 10%">
            <col style="width : 10%">
            <col style="width : 30%">
            <col style="width : 30%">
            <col style="width : 10%">
        </colgroup>
        <thead>
            <tr class="btn-secondary active">
                <th>
                    Id
                </th>
                <th>
                    OrdreDate
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Item
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Actions
                </th>
              
            </tr>
        </thead>
        <tbody>
            @if (Model.Ordres != null)
            {
                foreach (var Ordre in Model.Ordres)
                {
                   <tr>
                       <td>
                           @Ordre.Id
                       </td>
                       <td>
                           @Ordre.OrdreDate
                       </td>
                       <td>
                           @Ordre.Quantity
                       </td>
                       <td>
                           @Ordre.Item
                       </td>
                       <td>
                           @Ordre.Customer
                       </td>
                       
                       <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditOrdre" asp-route-id="@Ordre.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteOrdre" asp-route-id="@Ordre.Id"><i class="fa fa-trash"></i></a>
                       </td>
                   </tr>
                }
            }
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" asp-page="CreateOrder"> Create a new Item </a>
    </p>
